services:
  php:
    build:
      context: .
      dockerfile: Docker/php/Dockerfile
    depends_on:
      - sql
    user: "1000:1000"
    ports:
      - "7080:80"
      - "7443:443"
    volumes:
      - ./html:/var/www/html
      - ./Docker/php/php.ini:/usr/local/etc/php/php.ini
    env_file:
      - .env
    environment:
      - DB_HOST=sql
  sql:
    build:
      context: .
      dockerfile: Docker/sql/Dockerfile
    environment:
      - MARIADB_DATABASE=${DB_NAME}
      - MARIADB_USER=${DB_USER}
      - MARIADB_PASSWORD=${DB_PASSWORD}
      - MARIADB_RANDOM_ROOT_PASSWORD='yes'
    # - MYSQL_DATABASE=${DB_NAME}
    # - MYSQL_USER=${DB_USER}
    # - MYSQL_PASSWORD=${DB_PASSWORD}
    # - MYSQL_RANDOM_ROOT_PASSWORD='yes'
    volumes:
      - sql:/var/lib/mysql
      - ./Docker/sql/database:/docker-entrypoint-initdb.d
  phpmyadmin:
    image: phpmyadmin:latest
    depends_on:
      - sql
    ports:
      - "7081:80"
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=sql
      - PMA_USER=${DB_USER}
      - PMA_PASSWORD=${DB_PASSWORD}
      - UPLOAD_LIMIT=200M

  maildev:
    image: maildev/maildev
    ports:
      - "1080:1080"
volumes:
  sql:
